# Ambiente: dev ou production
APP_ENV=production
COMPANY_NAME="Lunar Panel"
URL=http://localhost:8000

# Porta do servidor de desenvolvimento do frontend
DEV_SERVER_PORT=3000

# Banco de dados
DB_TYPE=sqlite
DB_CHARSET=utf8mb4

# Banco de dados (SQLite)
DB_DATABASE=serve/panel.db

# Banco de dados (MySQL)
DB_HOST=localhost
DB_DATABASE=panel
DB_USERNAME=ender
DB_PASSWORD=ofdosfdjsdifsudi